################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SeleniumRecorder/IDR.side
/SeleniumRecorder/wwwroot/js/recorderDocument.js
/SeleniumRecorder/Migrations/20230621090243_initDAL.cs
/SeleniumRecorder/Migrations/20230620140541_TestSuitModel.cs
/SeleniumRecorder/Migrations/20230611125544_initWebElement.cs
/SeleniumRecorder/Migrations/20230620140541_TestSuitModel.cs
/SeleniumRecorder/Migrations/20230621143554_initUsers.cs
/SeleniumRecorder/Migrations/20230623092116_testSuitReconfigure.cs
/SeleniumRecorder/wwwroot/js/console.js
/SeleniumRecorder/wwwroot/js/recorderVersion1.js
