@{
    ViewData["Title"] = "Documentation";
}
<div class="row bg-secondary-subtle border border-secondary-subtle">
    <!--//-->
    <div class="col-12 bg-dark-subtle opacity-10 border-bottom">
        <p class="h2 p-2 text-light-emphasis d-flex align-items-center justify-content-center">     
            Documentation
        </p>
    </div>
    <!--//-->
    <div class="col-9 p-4 mb-4 text-white border-end border-light-subtle">  
        <h3 class="text-decoration-underline link-offset-2 link-underline link-underline-opacity-75">
            <i class="bi bi-shield-fill-check"></i> Privacy Policy
        </h3>
        <p class="text-end">Effective Date: <abbr title="attribute">03 June 2023</abbr></p>
        <div class="text-break">
            <hr>
            <p class="lead lh-base">
                <span class="h4 fw-bold text-decoration-underline link-offset-2 link-underline link-underline-opacity-50">Summary</span><br>
                This Privacy Policy explains how <abbr title="attribute">AWAIT(Automated Web Application Integrated Testing)</abbr> ("we," "us," or "our") collects,
                uses, and protects the personal information of our clients ("you" or "your") who use our automated QA and testing service for
                their IT infrastructure. We are committed to protecting your privacy and ensuring the security of your personal information.
                By using our service, you consent to the collection and use of your personal information as described in this Privacy Policy.
            </p>
            <hr>
            <p class="lead">
                <span class="fw-bold text-decoration-underline link-offset-2 link-underline link-underline-opacity-50">Information We Collect</span><br>
                We may collect the following types of personal information from you:
            </p>
            <div class="mb-3 p-2">
                <p class="text-emphasis-secondary">
                    <span class="fw-medium">Contact Information</span><br>
                    This includes your name, email address, phone number, and company information.
                </p>
                <p class="text-emphasis-secondary">
                    <span class="fw-medium">User Credentials</span><br>
                    If you create an account with us, we may collect and store your login credentials,
                    such as username and password.
                </p>
                <p class="text-emphasis-secondary">
                    <span class="fw-medium">IT Infrastructure Information</span><br>
                    We may collect information about your website, web applications, systems, and other IT infrastructure
                    details necessary for providing our automated QA and testing service.
                </p>
            </div>
            <p class="lead">
                <span class="fw-bold text-decoration-underline link-offset-2 link-underline link-underline-opacity-50">Use of Information</span><br>
                We use the collected information for the following purposes:
            </p>
            <div class="mb-3 p-2">
                <p class="text-emphasis-secondary">
                    <span class="fw-medium">Providing Services</span><br>
                    We use your information to deliver our automated QA and testing service and fulfill your specific requests
                    and requirements.
                </p>
                <p class="text-emphasis-secondary">
                    <span class="fw-medium">Communication</span><br>
                    We may contact you regarding updates, improvements, or changes to our service, as well as to respond to your
                    inquiries, questions, or support requests..
                </p>
                <p class="text-emphasis-secondary">
                    <span class="fw-medium">Internal Analysis</span><br>
                    We may use the information for internal purposes such as data analysis, research, and improving our service.
                </p>
                <p class="text-emphasis-secondary">
                    <span class="fw-medium">Data Security</span><br>
                    We take appropriate measures to protect your personal information from unauthorized access, alteration, disclosure,
                    or destruction. We use industry-standard security practices and technologies to safeguard your data.
                </p>
            </div>
            <p class="lead">
                <span class="fw-bold text-decoration-underline link-offset-2 link-underline link-underline-opacity-50">Data Retention</span><br>
                We retain your personal information only for as long as necessary to fulfill the purposes outlined in this Privacy
                Policy and comply with applicable laws and regulations.
            </p>
            <p class="lead">
                <span class="fw-bold text-decoration-underline link-offset-2 link-underline link-underline-opacity-50">Sharing of Information</span><br>
                We do not sell, trade, or rent your personal information to third parties. However, we may share your information in
                the following circumstances:
            </p>
            <div class="mb-3 p-2">
                <p class="text-emphasis-secondary">
                    <span class="fw-medium">Service Providers</span><br>
                    We may engage trusted third-party service providers to assist us in delivering our services, and they may have access to
                    your personal information solely for those purposes.
                </p>
                <p class="text-emphasis-secondary">
                    <span class="fw-medium">Legal Compliance</span><br>
                    We may disclose your information if required to do so by law or in response to valid legal requests or court orders.
                    <small>
                        <em>
                            You have the right to access, update, correct, or delete your personal information. If you wish to exercise any
                            of these rights, please contact us using the information provided below.
                        </em>
                    </small>
                </p>
            </div>
            <p class="lead">
                <span class="fw-bold text-decoration-underline link-offset-2 link-underline link-underline-opacity-50">Changes to the Privacy Policy</span><br>
                We may update this Privacy Policy from time to time. We will notify you of any material changes by posting the updated Privacy
                Policy on our website or through other communication channels. Your continued use of our service after the changes are made will
                signify your acceptance of the revised Privacy Policy.
            </p>
            <p class="text-light-emphasis">
                If you have any questions, concerns, or requests regarding this Privacy Policy or the
                handling of your personal information, please <a href="#">contact us</a>
            </p>
        </div>
        <hr>
        <ul class="list-inline">
            <li class="list-inline-item p-2">
                <figure>
                    <blockquote class="blockquote">
                        <p>AWAIT -<br><em>Automated Web Application Integrated Testing</em></p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Company Name
                    </figcaption>
                </figure>
            </li>
            <li class="list-inline-item p-2">
                <figure>
                    <blockquote class="blockquote">
                        <p>Branden van Staden</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Company Founder
                    </figcaption>
                </figure>
            </li>
            <li class="list-inline-item p-2">
                <figure>
                    <blockquote class="blockquote">     
                        <p>Troy Martin</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Company Founder
                    </figcaption>
                </figure>
            </li>            
        </ul>
        <hr>
    </div>
    <!--//-->
    <div class="col-3 p-3 scroll-element sticky-top">
        <p class="h5 text-center">Table of Contents</p>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Policy Summary</a>
        </div>
    </div>
</div>
