@model TestSuitViewModel
@{}
<div class="container-fluid">
    <form asp-action="CreateTest" method="post">
        <div class="row g-2">
            <hr>
            <div class="col-md-6 col-12">
                <div class="input-group">
                    <div class="form-floating">
                        <select class="form-select" asp-for="SuitPlan" id="floatingSelect" aria-label="selectSuitLabel">
                            <option value="1">My Suit</option>
                            <option value="1">IDR Enterprise Suit</option>
                        </select>
                        <label for="SuitPlan">Select a Suit</label>
                    </div>
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#createNewSuit" aria-controls="createNewSuit">Add</button>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="input-group">
                    <div class="form-floating">
                        <select class="form-select" asp-for="TestType" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Default</option>
                            <option value="1">Inputs & Forms</option>
                            <option value="2">Media Players & Images</option>
                            <option value="3">Inclusive(Experimental)</option>
                        </select>
                        <label for="TestType">Select a Test Type</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-floating">
                    <input type="text" asp-for="TestName" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="TestName">Test Name</label>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-floating">
                    <input type="text" asp-for="TestDescription" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="TestDescription">Test Description</label>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="form-floating">
                    <input type="text" asp-for="TestUrl" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="TestUrl">Test URL</label>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <select class="form-select" asp-for="TestWebDriver" id="floatingSelect" aria-label="Floating label select example">
                            <option selected>Chrome (114.0.5735.90)</option>
                        </select>
                        <label for="floatingSelect">Select a Test Type</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2">
            <button class="btn btn-outline-info">Create Test</button>
        </div>
    </form>
    <hr>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="createNewSuit" aria-labelledby="createNewSuitLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="createNewSuitLabel">Register Suit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <hr>
        <div class="font-monospace">
            <p><em>Please Select Suit Plan & Register Suit</em></p>
        </div>
        <form>
            <div class="row g-2">
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <input type="password" asp-for="SuitName" class="form-control" id="floatingSuitName" placeholder="Name">
                            <label for="SuitName">Suit Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group mb-3">
                        <div class="form-floating">
                            <select class="form-select" c asp-for="SuitPlan" id="selectPlans" aria-label="selectPlansLabel">
                                <option value="1">Basic</option>
                                <option value="2">Premium</option>
                                <option value="3">Enterprise</option>
                            </select>
                            <label for="SuitPlan">Select an available suit plan</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-outline-info">Register Suit</button>
                </div>
            </div>
        </form>
    </div>
</div>