@model SuitRecorderView
<div class="col p-3 mb-2 bg-black text-white">
    <!--CONSOLE-CARD-->
    <div class="row">
        <!--CONSOLE-HEADING-->
        <div class="col-12 p-2">
            <div class="border-top border-bottom border-dark d-flex align-items-center justify-content-center">
                <p class="h5 p-2 text-center">AWAIT CONSOLE</p>
            </div>
        </div>
        <!--CONSOLE-OUTPUT-WINDOW-->
        <div class="col-12 bg-black">
            <div class="console-output"></div>
            <span class="console-cursor"></span>
        </div>
    </div>
</div>